<footer class="footer">
    <div class="contenido">
        <div class="info-centro">
            <p class="marca">{{ 'FOOTER.MARCA' | translate }}</p>
            <p class="texto">{{ 'FOOTER.TECNOLOGIAS' | translate }}</p>
        </div>

        <a class="enlace-github" href="https://github.com/AndresFE0209" target="_blank" rel="noopener noreferrer">
            <img src="/assets/GitHub-Logo.png" alt="GitHub" class="icono-github" />
            <span>{{ 'FOOTER.GITHUB' | translate }}</span>
        </a>
    </div>
</footer>