<section class="about">
    <div class="cabecera">
        <h1>Sobre Mi</h1>
        <p>
        Soy Andres Fernandez Exposito, estudiante de DAM y actualmente en practicas en Plexus Tech.
        Mi objetivo es crecer como desarrollador fullstack.
        </p>
    </div>

    <div class="tarjeta" (mousemove)="moverSello($event, selloHerramienta)" (click)="ponerSello(selloFinal)">
        <div class="tarjeta-top">
        <span>{{ datos.pais }}</span>
        <span>ENTRY VISA</span>
        </div>

        <div class="tarjeta-body">
        <div class="foto"></div>

        <div class="info">
            <div class="info-linea"><span class="info-label">NAME:</span> {{ datos.nombre }}</div>
            <div class="info-linea"><span class="info-label">ROLE:</span> {{ datos.rol }}</div>
            <div class="info-linea"><span class="info-label">ID:</span> {{ datos.id }}</div>
            <div class="info-linea"><span class="info-label">DOB:</span> {{ datos.nac }}</div>
            <div class="info-linea"><span class="info-label">EXP:</span> {{ datos.exp }}</div>
        </div>
        </div>

        <div class="zona-sello">
        <div #selloFinal class="sello-final">ENTRY VISA</div>
        </div>

        <div #selloHerramienta class="sello-herramienta">
        <div class="mango"></div>
        <div class="base">ENTRY</div>
        </div>
    </div>
</section>