<section class="about">
    <div class="cabecera">
        <h1>Sobre Mi</h1>
        <p>
        Soy Andres Fernandez Exposito, estudiante de DAM y actualmente en practicas en Plexus Tech.
        Mi objetivo es crecer como desarrollador fullstack.
        </p>
    </div>
    <div class="selector">
        <mat-button-toggle-group [value]="seccionActiva", (change)="cambiarSeccion($event.value)">
            <mat-button-toggle value="perfil">Perfil</mat-button-toggle>
            <mat-button-toggle value="timeline">Timeline</mat-button-toggle>
            <mat-button-toggle value="objetivo">Objetivo</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</section>
