:host {
  display: block;
  min-height: 100vh;
  background-color: #14100b;
}

.layout {
  min-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  background-color: #14100b;
}

.contenido {
  flex: 1;
  background-color: #14100b;
}