<section class="home-gamer">
    <div class="cabecera">
        <h1>{{ 'HOME.NOMBRE' | translate }}</h1>
        <p class="rol">{{ 'HOME.ROL' | translate }}</p>
        <br>
        <p class="texto">
            {{ 'HOME.BIENVENIDA' | translate }}
        </p>
    </div>

    <div class="panel">
        <h2>{{ 'HOME.STACK' | translate }}</h2>
        <div class="grid-stack">
            @for (tecnologia of tecnologias; track tecnologia.nombre) {
            <app-card class="card-item" [nombre]="tecnologia.nombre" [imagen]="tecnologia.imagen"
                [enlace]="tecnologia.enlace">
            </app-card>
            }
        </div>
    </div>
</section>